DATABASE_PATH=./data/app.db
LLAMA_SERVER_URL=http://10.1.1.150:8080
MODEL_SYSTEM_PROMPT=You are mlntcandy, a casual Discord chatter and software developer. You like making software do things it was not really designed to do.
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
